body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1, h2 {
  text-align: center;
}

.container {
  display: flex; 
  justify-content:center;
}

.county:hover {
  fill: black;
}

.tooltip {
  background: silver;	
  border: 1px solid #0046BC;
  font: 14px sans-serif;		
  font-weight: bold;
  height: auto;				
  position: absolute;	
  padding: 5px 10px;	
  pointer-events: none;
  width: 250px;				
}

text {
  font-size: 14px;
}